<!-- blog/templates/blog/base.html -->

{% load static %} <link rel="stylesheet" href="{% static 'blog/base.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>A Dash of Wanderlust – {% block page_title %}Julia's blog{% endblock %}</title>
</head>

<body>
  <!-- The header -->
  <header id="site-header">
     <h1>A Dash of Wanderlust</h1>
     <p>A blog about travel & good food!</p>
  </header>

<!--img src="{% static "blog/blog_img.jpeg" %}" alt="Logo" width="1000" height="500"-->
  <!-- image is too large, tag start is not closed! Will update this later-->

  <!-- Top navigation -->
  <nav id="top-nav">
    <ul>
      <li><a href="{% url "home" %}">Home</a></li>
      <li><a href="{% url "about" %}">About</a></li>
      <li><a href="{% url "post-list" %}">Posts</a></li>
      <li><a href="{% url "topic-list" %}">Topics</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <!-- The main content -->
  <main id="main-content">
    <div>
      {% block main %}
      <!-- Content for the main block will be rendered here -->
      {% endblock %}
    </div>

    <aside id="sidebar">
      <section id="topics-list">
        <h3>Popular Topics</h3>
          <ul>
          {% for topic in pop_topics %}
            <li><a href="{{ topic.get_absolute_url }}">{{ topic.name }} ({{ topic.num_posts }})</a></li>
          {% endfor %}
          <h4><a href="{% url "topic-list" %}">View All</a></h4>
          </ul>
      </section>

      <section id="author-list">
        <h3>Authors</h3>
        <ul>
          {% for author in authors %}
            <li>{{ author.get_username }}</li>
          {% endfor %}
        </ul>
      </section>

    </aside>
  </main>

  <!-- The footer -->
  <footer id="site-footer">
    <!-- Print copyright with the current year -->
    Copyright &copy; {% now 'Y' %} –
    <a href="{% url "terms-and-conditions" %}">Terms & conditions </a>
  </footer>
</body>
</html>